.AdminAccess {
    position: fixed;
    width: 100%;
    left: 0px;
    z-index: 100;
    top: 0px;
}

.closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #525050;
    display: block;
    transition: 0.3s;

}

.closebtn:hover {
    color: #a5a5a5;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}