.NewPostNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow: auto;
    transition: 0.5s;
    padding-top: 60px;
    /* text-align:center; */
  }
  
  .NewPostNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #525050;
    display: block;
    transition: 0.3s;
  
  }
  
  .NewPostNav a:hover{
    color: #a5a5a5;
  }
  
  .NewPostNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .NewPostNav {padding-top: 15px;}
    .NewPostNav a {font-size: 18px;}
  }