.shareOption {
    transition: 0.2s;
    animation-timing-function: ease;
    animation-name: opacity;
    animation-duration: 500ms;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#likeLoveFavorite{
    transition: 0.2s;
}