@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Fira+Code&family=Hind+Siliguri:wght@500&family=Lateef&family=Open+Sans:wght@300;500&family=Orbitron&family=Poppins:wght@500&display=swap');
/* font-family: 'Coming Soon', cursive;
font-family: 'Fira Code', monospace;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Lateef', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Poppins', sans-serif; */

html,
body {
  padding: 0;
  margin: 0;
  background-color: #F0F2F5;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  /* font-weight: 300; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

.stickyPro {
  position: sticky;
  top: auto;
  position: -webkit-sticky;
}

.bodyNotHeader {
  position: relative;
  top: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}



* {
  box-sizing: border-box;
}

.servicesBody::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(183, 183, 183);
  border-radius: 10px;
}

*::-webkit-scrollbar-button {
  height: 70px;
  visibility: hidden;
}

.scrollBarTopProfileFixed {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: -10px;
  left: 0;
  transition: 0.5s;
  padding-top: 10px;
}

.onClickProfileMenu {
  position: fixed;
  z-index: 1;
  top: -10px;
  right: -500px;
  transition: 0.2s;
  padding-top: 10px;
}

.sideLeftBarHiddenText {
  transition: 0.2s;
  padding-top: 10px;
}

#videoPost {
  width: 100% !important;
}


#videoPost iframe,
#videoPost video,
#videoPost embed,
#videoPost object {
  width: 100% !important;
}


body::-webkit-scrollbar {
  display: none;
}


#uploaderFile,
#uploaderCoverProfileFile {
  border: 2px dashed #ccc;
  border-radius: 20px;
  max-width: 320px;
  font-family: sans-serif;
  padding: 20px;
  margin: 10px 0;
}


#uploaderManually,
#uploaderManuallyProfileCover {
  border: 2px dashed #ccc;
  border-radius: 20px;
  max-width: 320px;
  font-family: sans-serif;
  padding: 20px;
  margin: 10px 0;
}

#uploaderFile.highlight,
#uploaderCoverProfileFile.highlight {
  border-color: purple;
}

.plainText {
  word-wrap: break-word !important;
  white-space: pre-line !important;
}









/* NEW BLOG UI */


.shadowEachPost {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* ********SPIN BUTTON ICON********** */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }

}

.spin_icon {}

.buttonSpin {}

.buttonSpin:hover :first-child {
  animation: spin 1s both infinite;
}


/* ************FOR POST BODY***************** */



.postBodyThumbnail {
  overflow: hidden;
  height: 200px;
  width: 100%;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;

}

.postDescription {
  width: 100%;
}

/* ******* MD *********** */
@media (min-width: 768px) {

  .postBodyThumbnail {
    width: 250px;
  }

  .postDescription {
    width: calc(100% - 250px);
  }
}

/* ******* MD *********** */
@media (min-width: 1024px) {
  .postBodyThumbnail {
    width: 250px;
    height: 180px;
  }

  .postDescription {
    width: calc(100% - 250px);
  }
}

/* ******* XL *********** */
@media (min-width: 1280px) {
  .postBodyThumbnail {
    width: 260px;
  }

  .postDescription {
    width: calc(100% - 260px);
  }
}

/* ******* 2XL *********** */
@media (min-width: 1536px) {
  .postBodyThumbnail {
    width: 260px;
  }

  .postDescription {
    width: calc(100% - 260px);
  }
}

/* ************ FOR VIDEO POST********** */
.videoPost video,
iframe,
embed {
  width: 100% !important;
  height: auto;
}




.tooltip {
  position: relative;
  /* display: inline-block; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}